<form #f="ngForm" (submit)="login()" class="login-form">
  <h2 class="title">Login</h2>

  <div class="form-group">
    <label for="username">Enter login</label>
    <input type="text" class="form-control" id="username" name="username" [(ngModel)]="user.userName"
           #username="ngModel" [ngClass]="{ 'is-invalid': f.submitted && username.invalid }" required/>

    <div *ngIf="f.submitted && username.invalid" class="invalid-feedback">
      <div *ngIf="username.errors.required">Login is required</div>
    </div>
  </div>

  <div class="form-group">
    <label for="password">Enter password</label>
    <input type="password" class="form-control" id="password" name="password" [(ngModel)]="user.password"
           #password="ngModel" [ngClass]="{'is-invalid': f.submitted && password.invalid }" required/>

    <div *ngIf="f.submitted && password.invalid" class="invalid-feedback">
      <div *ngIf="password.errors.required">Password is required</div>
    </div>
  </div>

  <div class="text-danger">{{error}}</div>

  <button type="submit">Login</button>
</form>
